{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "plugins": [
    "@typescript-eslint",
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
  ],
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "describe": true,
    "it": true,
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "17",
    },
    "import/resolver": {
      "node": {},
    },
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-unused-expressions": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": ["warn", 200],
    "max-classes-per-file": "off",
    "default-case": "warn",
    "consistent-return": "warn",
    "class-methods-use-this": "off",
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-restricted-properties": "warn",
    "no-param-reassign": "warn",
    "no-continue": "off",
    "no-await-in-loop": "off",
    "no-mixed-operators": "warn",
    "no-bitwise": "warn",
    "no-prototype-builtins": "warn",
    "semi-style": ["error", "first"],
    "import/prefer-default-export": "off",
    "import/no-cycle": "warn",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "off",
    "react/button-has-type": "warn",
    "react/sort-comp": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/state-in-constructor": "off",
    "react/no-find-dom-node": "warn",
    "react/no-unused-prop-types": "warn",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "react/static-property-placement": "off",
  },
}
