.action-bar {
  position: fixed;
  display: flex;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  z-index: 100;

  button {
    background: none;
    border: 0;
    outline: none;
    width: 60px;

    &:disabled {
      .icon, span {
        color: #ccc;
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        .icon, span {
          color: #000;
        }
      }
    }

    .icon {
      height: 18px;
      width: 18px;
      margin-top: 3px;
      color: #666;
    }

    .icon-add {
      width: 16px;
    }

    span {
      display: block;
      margin-top: 4px;
      color: #888;
    }
  }

  .tooltip {
    top: 5px;
  }
}