.options {
  width: 500px;
  padding: 10px;

  .option-title {
    font-size: 12px;
    font-weight: normal;
  }

  .percent-symbol {
    display: none;
  }

  > footer {
    margin: 20px 15px 10px 5px;

    button {
      padding: 4px 10px;
      border-radius: 2px;
      font-size: 12px;
      outline: 0;
      border: 0;
      background: #fff;
      color: #667;
      line-height: 16px;
      transition: .4s;
      cursor: pointer;

      .icon {
        font-size: 16px;
        margin-right: 5px;
        vertical-align: top;
      }

      &:hover,
      &:active {
        color: #000;
        background: #f4f4f4;
      }
    }
  }
}