body {
  margin: 0;
  background: #fafaf9;
  font-family: 'Open Sans';
}

.paper {
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.fn-hide {
  display: none !important;
}
